<div class="container-fluid">
    <div class="row" style="margin-top:10px; margin-bottom:30px;">
        <h4>
            <span style="padding-right:0px"></span>
            <i class="fa fa-phone"></i><b> Contact Us</b> 
        </h4>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12">
                <h5><b> Main Contacts </b></h5>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-5 spacing"><i class="fa fa-phone"></i><b>Phone:</b></div>
                <div class="col-lg-7 spacing"> 011 123 4567 </div>
                <div class="col-md-5 spacing"><i class="fa fa-at"></i><b>Email:</b></div>
                <div class="col-lg-7 spacing"> info@abc.com </div>
                <div class="col-md-5 spacing"><i class="fa fa-fax"></i><b>Fax:</b></div>
                <div class="col-lg-7 spacing"> 011 123 4569 </div>
                <div class="col-md-5 spacing"><i class="fa fa-envelope-square"></i><b>Postal Address:</b></div>
                <div class="col-lg-7 spacing" [innerHTML]="PostalAddress" style="margin-top:5px; margin-bottom:5px;"></div>
                <div class="col-md-5 spacing"><i class="fa fa-map-marker"></i><b>Physical Address:</b></div>
                <div class="col-lg-7 spacing" [innerHTML]="PhysicalAddress"></div>
            </div>
        </div>
        

    </div>
</div>