<div *ngIf="dataCtrl.mode.home && !loading">
  <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide col-md-3" data-ride="carousel" data-interval="false" style="border:0px solid #f00;background-color:#fff">
      <ol class="carousel-indicators">
    
    
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active">
          <div>
              <p>Home</p>
              <img [src]="imagePath" style="display:block;margin-left:auto;margin-right: auto;width:100%;">
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div *ngFor="let x of resMultiple" class="carousel-item">
          <div>
            <p>Time: {{x.value.payload.capturetime}}</p>
            <img [src]="x.value.payload.imgdata" style="display:block;margin-left:auto;margin-right: auto;width:100%;">  
            <div class="row">
              <div style="margin:15px 50px 50px 70px;" class="col-xs-6 spacing"><i style="margin-left:15px;" (click)="delete(x)" class="fa fa-trash fa-2x"></i><p><strong>Delete</strong></p></div>
              <div style="margin:15px 50px 50px 70px;" class="col-xs-6 spacing"><i style="margin-left:15px;" class="fa fa-star fa-2x"></i><p><strong>Favorites</strong></p></div>
            </div>          
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="col-md-3">
      <h5></h5>
      <img [src]="imagePath">
    </div>
  </div>
</div>


<div class="row" *ngIf="loading" style="text-align:center; margin-top:100px;">
  <div class="col-md-3">
    <i class="fa fa-spinner fa-spin" style="font-size:100px"></i>
    <p>loading...</p>
  </div>
</div>



  