/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
html {
  font-size: 16px;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

.center-form {
  width: 450px;
  margin: 15px auto;  
}
.upper {
  text-transform: uppercase;
}

.size {
  width: 60%;
}

.size-1 {
  width: 30px;
}

.alignL {
  /*margin-left:8px;*/
  width: 42px;
}

.isClicked {
  font-weight: bold;
  color: darkblue;
}

.centrer {
  text-align: center;
}

.th-head {
  border-radius: 8px;
  background: #E8E8E8;
}
.btn-add {
  width: 76px;
  height: 36px;
}

.btn-back {
  margin: 0px;
  text-align: right;
}

fieldset.scheduler-border {
  border: 1px solid #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  border-radius: 8px;
  
}

legend.scheduler-border {
  font-size: 12px !important;
  font-weight: bold !important;
  text-align: left !important;
  width: inherit; /* Or auto */
  padding: 0 20px; /* To give a bit of padding on the left and right */
  border-bottom: none;
  margin-bottom: 10px;
  color: #707070;
}
.rbstl {
  text-align: center;
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.rm-mp {
  margin: 0px !important;
  padding: 0px !important;
}

.mg-btm {
  text-align: left;
  margin-bottom: 30px;
}

.rb-lbl {
  margin: 3px auto;
  padding: 0px;
  text-align: left;
  vertical-align: middle;
}

.rm-brd {
  border: none;
}

.tbl-stl {
  width: 100%;
  border: none;
}

.tbl-hd-stl {
  border: 1px solid #686868;
}

.fld-lbl {
  color: white !important;
  font-size: 14px !important;
  background-color: #686868 !important;
}

.extra {
  color: #006600 !important;
}

.rm-clr {
  color: #ff0000 !important;
}

.v-aln {
  vertical-align: middle !important;
  text-align: right !important;
}

.v-aln-lbl {
  vertical-align: middle !important;
  text-align: right !important;
  margin: 0px;
  padding: 0px;
}

.hd-display {
  color: white !important;
  height: 30px !important;
  line-height: 30px !important;
  background-color: #686868 !important;
  margin: 0px;
  padding: 0px 10px 0px 10px;
}
.rm-hd-spc {
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
}

.btn-show {
  width: 102px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;  
}
.mrg-posi {
  margin: 30px 0px 30px 0px;
}

.longtext {
  max-width : 40px !important ;
  white-space : nowrap !important ;
  overflow : hidden !important ;
  text-overflow: ellipsis;
}
.bfr-end-col {
  border: 0px;
  border-left: 1px solid #D8D8D8;
  border-width: thin;
  border-bottom: 1px solid #D8D8D8;
  border-bottom-width: thin;
}
.end-col {
  border: 0px;
  border-right: 1px solid #D8D8D8;
  border-right-width: thin;
  border-left: 1px solid #D8D8D8;
  border-left-width: thin;
  border-bottom: 1px solid #D8D8D8;
  border-bottom-width: thin;
}
.tbl-rw {
  border: 0px !important;
}
.hd-clpse {
  height: 36px;
  vertical-align: middle;
  border-collapse: collapse;
}
.frm-df-size {
  width: 600px;
  margin: 0px auto;
  padding: 2px;
}
.txt-df-size {
  width: 550px;
  margin: 0px;
  padding: 0px;
}

.brd{
  border:1px solid red;
}




